.tile {
	width: 33.33%;
	height: 33.33%;
	border: 1px solid black;
	position: relative;

	.tile-hover-overlay {
		position: 'absolute';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: 'rgba(0; 0; 0; 0.5)';
	}
}
